body {
    font-family: Arial, sans-serif;
  }
  
  #posts .post {
    margin-bottom: 20px;
  }
  
  #posts img,
  #posts video {
    max-width: 100%;
    height: auto;
  }
  
  .text-center {
    text-align: center;
  }
  