body {
  font-family: Arial, sans-serif;
}

.sticky-top {
  z-index: 1020;
}

.post .card-img-top {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.post .card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.post {
  margin-bottom: 20px;
}

.text-center {
  text-align: center;
}

.like-button {
  cursor: pointer;
}
